.header {
  background-color: #E6E6FA;
  color: #483248;
  padding: 10px 15px;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
input {
  font-size: 15px;
  float: left;
  width: 80%;
  padding: 5px;
}
.addBtn {
  background: #BDB5D5;
  color: #483248;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  float: right;
  width: 15%;
  padding: 5px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  background: #E6E6FA;
  font-size: 15px
  cursor: pointer;
  position: relative;
  list-style-type: none;
  padding: 15px 20px;
}
ul li.checked {
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  border-color: #51414F;
  border-style: solid;
  border-width: 0 2px 2px 0;
  position: absolute;
  top: 17px;
  left: 7px;
  height: 10px;
  width: 5px;
  transform: rotate(45deg);
}
.close {
  background: #BDB5D5;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 20px;
}
