/* List item style */
ul li {
  background: #BDB5D5;
  list-style-type: none;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: 15px 20px;
  font-size: 18px

/* makes the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* When item is clicked on, the text is crossed out */
ul li.checked {
  text-decoration: line-through;
}

/* When item is clicked on, a checked mark appears  */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #51414F;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Delete button style */
.close {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  padding: 15px 20px;
}

/* Header style */
.header {
  background-color: #E6E6FA;
  padding: 10px 15px;
  color: #483248;
}

/* Input style */
input {
  width: 80%;
  padding: 5px;
  float: left;
  font-size: 15px;
}

/* Button style */
.addBtn {
  padding: 5px;
  width: 15%;
  background: #E0B0FF;
  color: black;
  cursor: pointer;
  float: right;
  text-align: center;
  font-size: 15px;
}
